/course-api.launch
/CourseApiApplication.launch
/movie-catalog-service.launch
/movie-info-service.launch
/MovieCatalogServiceApplication.launch
/MovieInfoServiceApplication.launch
/ratings-data-service.launch
